[Desktop Entry]
Categories=Utility;Security;Qt;
Comment[en_US]=Community-driven port of the Windows application “KeePass Password Safe”
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Comment[da]=Fællesskabsdrevet port af Windows-programmet “KeePass Password Safe”
Comment[et]=Kogukonna arendatav port Windowsi programmist KeePass Password Safe
Comment[ru]=Разработанный сообществом порт Windows-приложения KeePass Password Safe
Exec=keepassxc %f
GenericName[en_US]=Password Manager
GenericName=Password Manager
GenericName[ar]=مدير كلمات المرور
GenericName[bg]=Мениджър на пароли
GenericName[ca]=Gestor de contrasenyes
GenericName[cs]=Aplikace pro správu hesel
GenericName[da]=Adgangskodehåndtering
GenericName[de]=Passwortverwaltung
GenericName[es]=Gestor de contraseñas
GenericName[et]=Paroolihaldur
GenericName[fi]=Salasanamanageri
GenericName[fr]=Gestionnaire de mot de passe
GenericName[hu]=Jelszókezelő
GenericName[id]=Pengelola Sandi
GenericName[it]=Gestione password
GenericName[ja]=パスワードマネージャー
GenericName[ko]=암호 관리자
GenericName[lt]=Slaptažodžių tvarkytuvė
GenericName[nb]=Passordhåndterer
GenericName[nl]=Wachtwoordbeheer
GenericName[pl]=Menedżer haseł
GenericName[pt]=Gestor de palavras-passe
GenericName[pt_BR]=Gerenciador de Senhas
GenericName[ro]=Manager de parole
GenericName[ru]=Менеджер паролей
GenericName[sk]=Správca hesiel
GenericName[sv]=Lösenordshanterare
GenericName[th]=แอพจัดการรหัสผ่าน
GenericName[tr]=Parola yöneticisi
GenericName[uk]=Розпорядник паролів
GenericName[zh_CN]=密码管理器
GenericName[zh_TW]=密碼管理員
Icon=keepassxc
MimeType=application/x-keepass2;
Name[en_US]=KeePassXC
Name=KeePassXC
Path=
SingleMainWindow=true
StartupNotify=true
StartupWMClass=keepassxc
Terminal=false
TerminalOptions=
TryExec=keepassxc
Type=Application
Version=1.5
X-GNOME-SingleWindow=true
X-KDE-SubstituteUID=false
X-KDE-Username=
