[Desktop Action Capture]
Exec=flameshot gui --delay 500
Name=Take screenshot
Name[de]=Bildschirmfoto aufnehmen
Name[es]=Tomar captura de pantalla
Name[fr]=Prendre une capture d'écran
Name[ja]=スクリーンショットを撮る
Name[nl]=Schermfoto maken
Name[nl_NL]=Schermfoto maken
Name[pl]=Zrzut ekranu
Name[pt_BR]=Capturar tela
Name[ru]=Сделать скриншот
Name[sk]=Zachytiť obrazovku
Name[sr]=Сними екран
Name[uk]=Зробити знімок
Name[zh_CN]=进行截图

[Desktop Action Configure]
Exec=flameshot config
Name=Configure
Name[de]=Einstellungen
Name[es]=Configurar
Name[fr]=Configurer
Name[ja]=設定
Name[nl]=Instellen
Name[nl_NL]=Instellen
Name[pl]=Konfiguruj
Name[pt_BR]=Configurar
Name[ru]=Настройки
Name[sk]=Nastaviť
Name[sr]=Подешавања
Name[uk]=Налаштувати
Name[zh_CN]=配置

[Desktop Action Launcher]
Exec=flameshot launcher
Name=Open launcher
Name[de]=Starter öffnen
Name[nl]=Starter openen
Name[nl_NL]=Starter openen
Name[pt_BR]=Abrir lançador
Name[sk]=Otvoriť spúšťač
Name[zh_CN]=打开启动器

[Desktop Entry]
Actions=Configure;Capture;Launcher;
Categories=Graphics;
Comment[en_US]=Powerful yet simple to use screenshot software.
Comment=Powerful yet simple to use screenshot software.
Comment[de]=Schlichte, leistungsstarke Screenshot-Software
Comment[es]=Software de captura de pantalla potente y fácil de usar.
Comment[fr]=Logiciel de capture d'écran puissant et simple d'utilisation.
Comment[ja]=パワフルで使いやすいスクリーンショットソフトウェア。
Comment[nl]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[nl_NL]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[pl]=Proste w użyciu narzędzie do zrzutów ekranu
Comment[pt_BR]=Software de captura de tela poderoso, mas simples de usar.
Comment[ru]=Простой и функциональный инструмент для создания скриншотов
Comment[sk]=Mocný, no zároveň jednoduchý softvér na zachytávanie obrazovky.
Comment[sr]=Једноставан, а моћан алат за снимање екрана
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Comment[zh_CN]=强大又易用的屏幕截图软件
Exec=/usr/bin/flameshot
GenericName[en_US]=Screenshot tool
GenericName=Screenshot tool
GenericName[es]=Herramienta de captura de pantalla
GenericName[fr]=Outil de capture d'écran
GenericName[ja]=スクリーンショットツール
GenericName[nl]=Schermfotoprogramma
GenericName[nl_NL]=Schermfotoprogramma
GenericName[pl]=Zrzuty ekranu
GenericName[pt_BR]=Ferramenta de captura de tela
GenericName[ru]=Создание скриншотов
GenericName[sk]=Nástroj na zachytávanie obrazovky
GenericName[sr]=Снимач екрана
GenericName[uk]=Інструмент скриншотів
GenericName[zh_CN]=屏幕截图工具
Icon=org.flameshot.Flameshot
Keywords=flameshot;screenshot;capture;shutter;
Keywords[de]=flameshot;screenshot;Bildschirmfoto;Aufnahme;
Keywords[es]=flameshot;screenshot;capture;shutter;captura;
Keywords[fr]=flameshot;capture d'écran;capter;shutter;
Keywords[ja]=flameshot;screenshot;capture;shutter;スクリーンショット;キャプチャー;
Keywords[nl]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[nl_NL]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[pt_BR]=flameshot;screenshot;captura de tela;captura;shutter;
Keywords[zh_CN]=flameshot;screenshot;capture;shutter;截图;屏幕;
MimeType=
Name[en_US]=Flameshot
Name=Flameshot
Name[zh_CN]=火焰截图
Path=
StartupNotify=false
StartupWMClass=flameshot
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.flameshot.Flameshot
X-DBUS-StartupType=Unique
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
X-KDE-SubstituteUID=false
X-KDE-Username=
