[Desktop Entry]
Categories=Network;InstantMessaging;
Comment[en_US]=A Discord and Fosscord client made with the Electron API
Comment=A Discord and Fosscord client made with the Electron API
Exec=webcord %U
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=webcord
MimeType=
Name[en_US]=WebCord
Name=WebCord
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
