@define-color bg #2d353b;
@define-color bg0_h #343f44;
@define-color bg1 #3d484d;
@define-color bg2 #475258;
@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color green #a7c080;
@define-color yellow #dbbc7f;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color aqua #83c092;
@define-color orange #e69875;
@define-color gray #859289;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @bg0_h;
    border-bottom: 2px solid @bg2;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
margin-right: 20px;
font-weight: bold;
color: @gray;
}

#workspaces button {
padding: 0 5px;
background-color: transparent;
color: @gray;
border-bottom: 2px solid transparent;
}

#workspaces button:hover {
background-color: @bg1;
color: @fg;
}

#workspaces button.focused {
background-color: @bg1;
color: @fg;
border-bottom: 2px solid @blue;
}

#workspaces button.urgent {
background-color: @red;
color: @fg;
}

#mode {
background-color: @bg2;
border-bottom: 2px solid @fg;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio.microphone,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#power-profiles-daemon,
#custom-webcam,
#custom-pomodoro,
#privacy-item {
padding: 0 10px;
margin: 4px 2px;
border-radius: 4px;
color: @fg;
}

#clock {
background-color: @bg1;
color: @yellow;
}

#cpu {
background-color: @bg1;
color: @blue;
}

#memory {
background-color: @bg1;
color: @blue;
}

#backlight {
background-color: @bg1;
color: @orange;
}

#battery {
background-color: @bg1;
color: @green;
}

#battery.charging,
#battery.plugged {
background-color: @green;
color: @fg;
}

#battery.critical:not(.charging) {
background-color: @red;
color: @fg;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @fg;
        color: @bg0_h;
    }
}

#power-profiles-daemon {
background-color: @bg1;
color: @blue;
}

#power-profiles-daemon.performance {
color: @red;
}

#power-profiles-daemon.power-saver {
color: @green;
}

#network {
background-color: @bg1;
color: @purple;
}

#network.disconnected {
background-color: @red;
}

#pulseaudio {
background-color: @bg1;
color: @aqua;
}

#pulseaudio.muted {
background-color: @bg1;
color: @red;
}

#pulseaudio.microphone {
background-color: @bg1;
color: @aqua;
padding: 0 12px;
font-size: 16px;
}

#pulseaudio.microphone.muted {
background-color: @bg1;
color: @red;
padding: 0 12px;
}

#custom-pomodoro {
font-weight: bold;
}

#custom-pomodoro.idle {
background-color: @bg1;
color: @gray;
}

#custom-pomodoro.work {
background-color: @bg1;
color: @red;
}

#custom-pomodoro.break {
background-color: @bg1;
color: @aqua;
}

#custom-webcam {
background-color: @bg1;
color: @red;
}

#privacy {
border: 0;
margin: 0;
padding: 0;
}

#privacy-item.audio-in {
background-color: @bg1;
color: @orange;
padding: 0 5px;
}

#privacy-item.screenshare {
background-color: @bg1;
color: @yellow;
padding: 0 5px;
}

#custom-power {
background-color: @red;
color: @fg;
padding-left: 14px;
padding-right: 14px;
margin-right: 10px;
}

label:focus {
    background-color: @bg0_h;
}
