window {
    margin: 0px;
    border: 2px solid #a7c080;
    background-color: #2d353b;
    border-radius: 4px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
margin: 5px;
border: none;
color: #d3c6aa;
background-color: #3d484d;
border-radius: 4px;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2d353b;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2d353b;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d3c6aa;
}

#entry:selected {
background-color: #a7c080;
border-radius: 4px;
font-weight: bold;
}

#text:selected {
color: #2d353b;
}
